{% extends 'base.html' %}
{% block content%}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">ABOUT US .....</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to City Business Center...</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <centre>
            <div class="col-8">
                <br/>
            <p aligh="justify">We choose good quality for good customer experience.</p>
            <p aligh="justify">Welcome to City Business Center, your ultimate destination for the coolest electronics tailored for today’s youth! We know that tech is more than just gadgets; it’s a way to express yourself, stay connected, and explore your passions.

                Our mission is to bring you the latest and greatest in electronics smartphones, headphones, gaming gear, and innovative accessories all at prices that won’t break the bank. We’re passionate about curating a selection that combines cutting-edge technology with the style and functionality you crave.
                <br/></p>
                At City Business Center, we believe in quality and authenticity. That’s why we partner with trusted brands and emerging innovators to ensure you get products that not only look great but perform even better. Plus, we’re committed to sustainability and responsible sourcing, so you can feel good about your choices.
                <br/>
               In our community of tech enthusiasts! Follow us on social media for the latest updates, exclusive deals, and to share your tech journey with us. We can’t wait to see how you bring our products to life.
                <br/>
                Let’s elevate your tech game together!</p>
            </div>
        </centre>
    </div>
</div>
{% endblock %}